header {
    background: #201a1a;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #e7e6e6;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

